<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logdir" value="${specialfolder:folder=MyDocuments}/BinkyRailways/logs/${shortdate}"/>
    <targets>
      <target name="fautomatic" xsi:type="File" fileName="${logdir}/automatic.log"/>
      <target name="fcs" xsi:type="File" fileName="${logdir}/cs.log"/>
    </targets>
    <rules>
      <logger name="autoloccontroller" writeTo="fautomatic" minlevel="info"/>
      <logger name="cs-*" writeTo="fcs" minlevel="Trace"/>
    </rules>
  </nlog>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
