<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <variable name="logDir" value="${specialfolder:folder=MyDocuments}\BinkyRailways\Logs\${shortdate}"/>
    <targets>
      <target name="error-file" type="File" fileName="${logDir}\Errors.log" />      
      <target name="loconet-file" type="AsyncWrapper">
        <target type="File" fileName="${logDir}\LocoNet.log"  />
      </target>
      <target name="trace-file" type="AsyncWrapper">
        <target type="File" fileName="${logDir}\Trace.log" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="trace-file" />
      <logger name="*" minlevel="Error" writeTo="error-file" />
      <logger name="loconet" minlevel="Trace" writeTo="loconet-file" />
    </rules>
  </nlog>
</configuration>