[Unit]
Description=BinkyRailways
After=network.target
After=dnsmasq.service
Requires=dnsmasq.service

[Service]
ExecStart=/home/pi/binky-server \
  --prom-config-path=/home/pi/prometheus.yml \
  --storage-path=/home/pi/binky-storage \
  --certificate-path=/home/pi/binky-cert.json \
  --loki-url=${LOKI_URL} \
  --prom-url=${PROMETHEUS_URL} \
  --published-host=${PUBLISHED_HOST_IP} \
  --published-hostname=${PUBLISHED_HOST_DNS}
EnvironmentFile=/home/pi/binky-server.env
Restart=on-failure

[Install]
WantedBy=multi-user.target